.app {
  background-color: #282c34;
  min-height: 100vh;
  max-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  display: grid;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 25% 40% 35%;
  font-size: calc(10px + 2vmin);
  color: rgb(247, 247, 247);
  border: 0px solid red;
  justify-self: center;
  overflow: hidden;
}

header {
  grid-row: 1;
  grid-column: 2;
  border: 0px solid blue;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header img {
  height: 30%;
  width: 10%;
  display: block;
  margin: 20px auto 20px auto;
  border: 0px solid rgb(0, 0, 0);
}

header h1 {
  color: rgb(247, 247, 247);
  padding-top: 0px;
  margin-top: 10%;
  margin-bottom: 0px;
  border: 0px solid white;
}

header h3 {
  color: rgb(247, 247, 247);
  padding-top: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0px solid white;
}

header button {
  width: 40%;
  height: 20%;
  background-color: rgb(213, 36, 35);
  font-size: large;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border: 3px solid black;
  display: block;
  margin: 20px auto 20px auto;
  z-index: 5;
}

header button:hover {
  background-color:rgb(170, 29, 29);
}

header button:active {
  transform: scale(.99);
  border: 2px solid black;
}

.user-playlists {
  border: 0px solid yellowgreen;
  grid-column: 1;
  grid-row: 1 / span 3;
  text-align: center;
  overflow: auto;
}

.user-playlists h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(213, 36, 35);
}

.playlist {
  border-bottom: 1px solid rgb(170, 29, 29);
  display: grid;
  grid-template-columns: 80% 20%;
}

.playlist h5 {
  margin-top: 10px;
  margin-bottom: 0px;
  grid-column: 1;
  color: rgb(248, 248, 248);
}

.playlist h6 {
  margin-top: 5px;
  margin-bottom: 10px;
  grid-column: 1;
  color: grey;
}

.playlist button {
  grid-column: 2;
  margin: auto;
  background-color: rgb(213, 36, 35);
  font-size: large;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border: 3px solid black;
  z-index: 5;
}

.playlist button:hover {
  background-color:rgb(170, 29, 29);
}

.playlist button:active {
  transform: scale(.99);
  border: 2px solid black;
}

.user-queue {
  grid-column: 3;
  grid-row: 1 / span 3;
  border: 0px solid black;
  overflow: auto;
  direction: rtl;
  text-align: center;
}

.user-queue h3 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(213, 36, 35);
  direction: ltr;
  position: fixed;
  z-index: 3;
}

.user-queue h5 {
  margin-top: 10px;
  margin-bottom: 0px;
  grid-column: 2;
  color: rgb(248, 248, 248);
}

.user-queue h6 {
  margin-top: 5px;
  margin-bottom: 10px;
  grid-column: 2;
  color: grey;
}

#recent-song {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  direction: ltr;
  background-color:#1a1d22;
  border-bottom: 1px solid rgb(170, 29, 29);
}

#recent-song button {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  background-color: rgb(213, 36, 35);
  font-size: large;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border: 3px solid black;
  z-index: 5;
}

#recent-song button:hover {
  background-color:rgb(170, 29, 29);
}

#recent-song button:active {
  transform: scale(.99);
  border: 2px solid black;
}

#current-song {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: rgb(143, 23, 23);
  direction: ltr;
  border: 0px solid black;
  border-bottom: 1px solid rgb(170, 29, 29);
}

#queued-song {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto auto;
  direction: ltr;
  border-bottom: 1px solid rgb(170, 29, 29);
}

#queued-song button {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  background-color: rgb(213, 36, 35);
  font-size: large;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border: 3px solid black;
  z-index: 5;
}

#queued-song button:hover {
  background-color:rgb(170, 29, 29);
}

#queued-song button:active {
  transform: scale(.99);
  border: 2px solid black;
}

.player-interface {
  position: relative;
  grid-row: 2;
  grid-column: 2;
  border: 0px solid yellow;
}

#now-playing {
  border: 0px solid green;
  position: absolute;
  width: 40%;
  right: 5%;
  top: 5%;
  text-align: center;
}

#now-playing h6 {
  color: grey;
}

.player-controls {
  z-index: 5;
  border: 0px solid blue;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-controls button {
  background-color: rgb(213, 36, 35);
  font-size: large;
  font-weight: bold;
  color: rgb(248, 248, 248);
  border: 3px solid black;
  margin: auto 5px auto 5px;
  width: 100px;
}

.player-controls button:hover {
  background-color:rgb(170, 29, 29);
}

.player-controls button:active {
  transform: scale(.99);
  border: 2px solid black;
}

#record-player {
  max-height: 90%;
  max-width: 90%;
  border: 0px solid green;
  position: absolute;
  left: 25%;
  top: 40%;
  transform: translate(-50%, -50%) rotate(-15deg);
}

#spinning-record {
  max-height: 54%;
  max-width: 54%;
  border: 0px solid green;
  position: absolute;
  left: 25%;
  top: 40%;
  animation: spinning-record-spin infinite 1.8s linear;
}


@keyframes spinning-record-spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}






